// CSS Reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
}

html.wf-loading * {
    opacity: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: black;

    &:visited {
        text-decoration: none;
        color: black;
    }
}
