* {
    box-sizing: border-box;
}

html.wf-loading * {
    opacity: 0;
}

body {
    padding: 20px 60px;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
