.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .collection-preview-title {
        font-size: 28px;
        margin-bottom: 25px;

        & .collection-link {
            cursor: pointer;
            transition: opacity 0.2s;

            &:hover {
                opacity: 0.6;
            }
        }
        & .collection-name {
            color: rgb(49, 146, 202);
            // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
    }

    .preview {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        align-self: center;
    }
}
